.modal_window_content {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .75);
    z-index: 99999;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}


.modal_container .active {
    opacity: 1;
    pointer-events: all;
}
