#main {
    background-color: #fbfbfb;
}

.showcase-box-wrapper {
    display: flex;
    align-items: center;
    overflow: auto;
}

.showcase-heading {
    margin-top: 0;
}

.showcase-box-wrapper::-webkit-scrollbar {
    height: 8px;
}

.showcase-box-wrapper::-webkit-scrollbar-thumb {
    background-color: #dbdbdb;
    border-radius: 50px;
}

#popular {
    /*border-top: 1px solid rgba(53, 53, 53, 0.1);*/
}

.popular-box-wrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
    overflow-x: auto;
    margin-bottom: 0;
}

.popular-box-wrapper::-webkit-scrollbar {
    height: 8px;
}

.popular-box-wrapper::-webkit-scrollbar-thumb {
    background-color: #dbdbdb;
    border-radius: 50px;
}

.popular-heading {
    margin: 30px 30px 0px 30px;
    font-weight: 500;
    font-size: 1.3rem;
}

#trends {
    /*border-top: 1px solid rgba(53, 53, 53, 0.1);*/
}

.trends-box-wrapper {

    display: flex;
    align-items: flex-start;
    overflow-x: auto;
    margin-bottom: 0;
}

.trends-box-wrapper::-webkit-scrollbar {
    height: 8px;
}

.trends-box-wrapper::-webkit-scrollbar-thumb {
    background-color: #dbdbdb;
    border-radius: 50px;
}

.trends-heading {
    margin: 30px 30px 0px 30px;
    font-weight: 500;
    font-size: 1.3rem;
}